---
import App from '../components/App.vue';
import PostList from '../components/PostList.vue';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + Vue + WordPress</title>
  </head>
  <body>
    <h1>Astro + Vue + WordPress</h1>

    <!-- 自己紹介などのVue -->
    <App client:only="vue" />

    <!-- WordPressの一覧 -->
    <PostList client:only="vue" />
  </body>
</html>
