---
import App from '../components/App.vue';
import PostList from '../components/PostList.vue';
import MocolonBot from '../components/MocolonBot.vue';
import Weather from '../components/Weather.vue';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + Vue + WordPress</title>
  </head>
  <body>

    <!-- 自己紹介などのVue -->
    <App client:only="vue" />
	<MocolonBot client:load />
	<Weather client:load />

    <!-- WordPressの一覧 -->
    <PostList client:only="vue" />
  </body>
</html>
