<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
body {
  background: linear-gradient(to bottom, #f0f8ff, #ffffff);
  font-family: "Rounded Mplus 1c", "Hiragino Maru Gothic ProN", sans-serif;
}

</style>
